.vscode/
build/Debug/output/
output/Training_set/
__pycache__/
third
*.pyc
*.pyo
*.pyd
*.o
*.so
*.dll
*.obj
*.lib
*.exp
*.a
*.lib
*.pdb
*.ilk
*.idb
*.ncb
*.aps
*.suo
*.user
*.suo
*.user
*.sln
*.sdf
*.opensdf
*.db
*.opendb